@model prueba.Models.Especie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1>Detalles</h1>

<div>
    <h4>Especie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEspecie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEspecie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitat.HabitatId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EspecieId" class="btn btn-info">Editar<i><span class="material-icons">edit</span></i></a> |
    <a class="btn btn-danger" asp-action="Index">Regresar a la lista<i><span class="material-icons">exit_to_app</span></i> </a>
</div>
