@model IEnumerable<prueba.Models.Especie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEspecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habitat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspecie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habitat.HabitatId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EspecieId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.EspecieId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.EspecieId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
