@model prueba.Models.Animales

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<h1>Eliminar</h1>

<h3>Seguro que quieres eliminar?</h3>
<div>
    <h4>Animales</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCientifico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreCientifico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.año_nacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.año_nacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.año_muerte)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.año_muerte)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.estatura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.estatura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ancho)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ancho)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreImagen)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreImagen)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especie.EspecieId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AnimalId" />
        <button type="submit"  class="btn btn-danger" >Eliminar<i><span class="material-icons">delete_forever</span></i></button> |
        <a class="btn btn-danger" asp-action="Index">Regresar a la lista<i><span class="material-icons">exit_to_app</span></i></a>
    </form>
</div>
