@model ZooLine.Models.AnimalIndexModel

@{
    ViewData["Title"] = Model.TituloDePagina;
    Layout = Model.Layout;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
@if (Model.Data.Count > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().NombreCientifico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().año_nacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().año_muerte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().estatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().ancho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().NombreImagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.FirstOrDefault().Especie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCientifico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.año_nacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.año_muerte)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estatura)cm;
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ancho)kg;
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreImagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnimalId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AnimalId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.AnimalId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
}else { 

    <div class="alert-danger"> No se encontro ningun dato </div>

}